{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Fred Testing Section</title>

		<script	  src="{% static "practice/js/jquery.js"  %}"></script>
		
		<script src="{% static "practice/js/jquery-ui.js"  %}"> </script>
		
		<link rel="stylesheet" type="text/css" href="{% static 'practice/css/jquery-ui.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'practice/css/jquery-ui.structure.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'practice/css/scrolled-table.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'practice/css/style.css' %}">


<script>
      $( function() {
      	$( ".dobpicker" ).datepicker({
      									yearRange: "-100:+0",
      									changeYear: true
      								});
      	$( ".datepicker" ).datepicker();

      });
</script>

    </head>
    <body onresize="">
	<style type="text/css">
.form-table {
    background: white;
    border-collapse: collapse;
    width: auto;
}

.form-table tr{
    border: 1px solid white;
}

.form-table td, .form-table {
    width: auto;
    white-space: nowrap;
    background: white;
    border: 0px ;
}
</style>

    <header class="page-header">
        <h1>September 1 Version</h1>

	{% if user.is_authenticated %}

	<nav>
		<a class="round_button" href={% url 'practice:home' %}>Home</a>

		<a class="round_button" href={% url 'practice:rand' %}>All Clients</a>
		<a class="round_button" href={% url 'practice:newclient' %}>New Client</a>


		
	</nav>
	</header>

            {% block content %}
					base block content should be overwritten
            {% endblock %}
		{% else %}
	<h2>
			<p> Login <a href="/login">Here</a></p>
	</h2>
	{% endif %}
	</div>
	
  </body>
</html>