{% extends "practice/base.html" %}

{% block content %}
    <h1> {{ title }}</h1>

  <h2>{{ note }}</h2>
  <form action={% url 'practice:edittransaction' %} method="post" >
    {% csrf_token %}

    {% for field in form %}
        <p>
        {{field.errors }}
        {{field.label_tag }}: {{ field}}
        </p>
    {% endfor %}
<!--
    {{ caseform.as_p }}
-->
	<a class="round_button" href={% url 'practice:rand' %}>Cancel</a>
	<span style="width:200px"></span>
    <input  class="round_button" type="submit" value="Submit">
  </form>

{% endblock %}