{% extends 'practice/base.html' %}


{% block content %}
    <h1> Insert general how to information here.  a one page users manual.</h1>
    <p>Double click on any item to edit it</p>
    <p>Single click on Client to show cases</p>
    <h2> Items to do </h2>
<ul>
    <li>Tighten up spacing on tables and forms </li>
    <li>Add more fields to New Client form, like edit client form</li>
    <li>Add ability to print form letter using mail merge, start with engagement letter (easier)</li>
    <li>Add ability to generate invoices</li>
    <li>Add ability to record payments</li>
</ul>

<h2>Future work, not part of original estimate</h2>
<ul>
    <li>Add ability to display all deposits for prior 30 days to aid in bank reconciliation</li>
    <li>Add Both Legal and Financial Status for each case</li>
    <li>Add multi-case discount,  lets get basics working first, not sure of business rules</li>
</ul>

{% endblock %}